<h2>Kurser</h2>

<div id="flexCon"><label>
    Sök:
    <input id="searchQuery" type="text" />
</label>
</div>
<div id="btnCon">
    <input type="button" value="Sortera på kurskod" class="btn">
    <input type="button" value="Sortera på kursnamn" class="btn">
    <input type="button" value="Sortera på progression" class="btn">
</div>

<table> 
    <thead>
    <tr><th>Kurskod</th><th scope="col">Kursnamn</th><th>Progression</th><th>Länk till kursplan</th></tr> </thead>
   <tbody><tr *ngFor= "let course of courselist"> <td>{{course.code}} </td>
    <td> {{course.coursename}} </td>
    <td> {{course.progression}} </td>
    <td> {{course.syllabus}} </td></tr></tbody>
</table>
